body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
  display: block;
  margin: 8px
}
html {
  display: block;
}
.footer {
  text-align: right;
}
div {
  display: block;
}
